
{% extends "base.html" %} {% load static %} {% block title %}Doctors{%endblock%}
{% block content %}
<div class="container padding_bottom">
  <div class="card-deck">
    <section class="contact-section section_padding">
      <div class="input-group">
        <input id="username" type="search" class="form-control rounded" placeholder="Username" aria-label="Search" aria-describedby="search-addon" />
        <input id="specialty" type="search" class="form-control rounded" placeholder="Specialty" aria-label="Search" aria-describedby="search-addon" />
        <input id="firstname" type="search" class="form-control rounded" placeholder="First Name" aria-label="Search" aria-describedby="search-addon" />
        <button id="search" type="button" class="btn btn-outline-primary">search</button>
      </div>
      {% for doctor in doctors %} {% if forloop.first %}
      <div class="row my-3">
        {% endif %}
        <div class="col-xs-4">
          <form method="post" class="card border-primary" style="width: 18rem">
            {% csrf_token %}
            <div class="card-body">
              <h5 class="card-title">
                {{ doctor.user.first_name }} {{ doctor.user.last_name }}
              </h5>
              <input
                type="hidden"
                name="doctor"
                value="{{ doctor.user.username }}"
              />
              <input type="hidden" name="post" value="view" />
              {% if doctor.verified %}
              <h6 class="card-subtitle mb-2 text-muted">
                {{ doctor.specialty }}
              </h6>
              <button class="btn btn-primary" type="submit" id="reserve_1">
                Reserve
              </button>
              {% else %}
              <h6 class="card-subtitle mb-2 text-danger">Not Verified</h6>
              <button
                class="btn btn-primary btn-dark my-auto"
                type="submit"
                id="reserve_2"
              >
                Reserve
              </button>
              {% endif %}
              <!--                        <a href="#" class="my-3 card-link">Card link</a>-->
            </div>
          </form>
        </div>
        {% if forloop.counter|divisibleby:3 %}
      </div>
      <div class="row">{% endif %} {% if forloop.last %}</div>
      {% endif %} {% endfor %}
    </section>
    <div class="col d-flex justify-content-center">
      <div class="col-md-2 padding_top align-items-center">
        <!--                <form method="get">-->
        <!--                    {{ filter.form.rating }}-->
        <!--                    <button type="submit">Search</button>-->
        <!--                </form>-->
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById("search").onclick = function () {
    var name = document.getElementById("username").value;
    var specialty = document.getElementById("specialty").value;
    var firstname = document.getElementById("firstname").value;
    var link = "http://127.0.0.1:8000/doctors/search/?";
    if (!(name === "")) {
      link += "user__username=" + name + "&";
    }
    if (!(specialty === "")) {
      link += "specialty=" + specialty + "&";
    }
    if (!(firstname === "")) {
      link += "user__first_name=" + firstname + "&";
    }
    window.location.replace(link);
  };
</script>
{% endblock %}