{% extends "base.html" %} {% load static %}
{% block title %}Profile{%endblock%}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'css/scheduel.css' %}">
<section class="contact-section section_padding">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                            alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">{{ counselor.user.username }}</h5>
                        <div class="d-flex justify-content-center mb-2">
                            {% if is_user %}
                            <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!--                <div class="card mb-4 mb-lg-0">-->
                <!--                    <div class="card-body p-0">-->
                <!--                        <div class="panel-body">-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ counselor.user.first_name }}
                                    {{ counselor.user.last_name }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ counselor.user.email }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Verified</p>
                            </div>
                            {% if counselor.verified %}
                            <div class="col-sm-9">
                                <label class="form-label mb-0 text-success">VERIFIED</label>
                            </div>
                            {% else %}
                            <div class="col-sm-9">
                                <label class="form-label mb-0 text-danger">NOT VERIFIED</label>
                            </div>
                            {% endif %}
                        </div>
                        {% if counselor.verified %}
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Specialty</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ counselor.specialty }}</p>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% if counselor.verified %}
                <div class="justify-content-center">
                    <div class="row">
                        {% comment %} set appointment {% endcomment %}
                        {% if is_user %}
                        <div class="col-md-6">
                            <div class="card mb-4 mb-md-0">
                                <div class="card-body">
                                    <div class="container">
                                        <form action="" method="post" class="datepickers">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="date form-outline mb-3" id="id_0">
                                                    <label class="label-control form-label">Select the start of an
                                                        hour-long
                                                        session</label>
                                                    <input type="text" value="" class="form-control col-md-7"
                                                        name="datetime" placeholder="MM/DD/YYYY hh:mm:ss" required />
                                                </div>
                                                <div class="form-outline mb-3">
                                                    <label class="label-control form-label"> Price </label>
                                                    <input type="number" class="form-control col-md-7" min="10000"
                                                        step="1000" name="price" />
                                                </div>
                                                <button type="submit" class="btn btn-primary mx-2 col-md-4"
                                                    style="padding-left: 1.5rem; padding-right: 1.5rem;">Save
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% comment %} view appointments {% endcomment %}
                        <div class="col-md-6">
                            <div class="card mb-4 mb-md-0">
                                <div class="card-body">
                                    <ul class="list-group-scroll">
                                        {% for appointment in appointments %}
                                        <li class="list-group-item">
                                            {% if appointment.reserved %}
                                            <strong class="text-success">
                                                {% else %}
                                                <strong class="text-danger">
                                                    {% endif %}
                                                    {{ appointment.date }}
                                                </strong>
                                                <hr>
                                                <label>
                                                    {{ appointment.price }} Rials
                                                </label>
                                                {% if not is_user %}
                                                <form method="post" class="d-flex justify-content-center">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="appointment" value="{{ appointment }}" />
                                                    <input type="hidden" name="doctor"
                                                        value="{{ counselor.user.username }}" />
                                                    <input type="hidden" name="post" value="reserve" />
                                                    {% if not appointment.reserved and user.user_type == 1 %}
                                                    <button class="btn btn-secondary ml-3"
                                                        type="submit">Reserve</button>
                                                    {% endif %}
                                                </form>
                                                {% endif %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% comment %} commenrs {% endcomment %}
                        <div class="container mt-5 card">
                            <div class="d-flex justify-content-center card-body">
                                <h5 class="card-header">Comments</h5>
                                <div class="col-md-8">
                                    <div class="d-flex flex-column comment-section">
                                        {% for c in comments %}
                                        <div class="bg-white p-2">
                                            <div class="d-flex flex-row user-info">
                                                <div class="d-flex flex-column justify-content-start ml-2"><span
                                                        class="font-weight-bold name">{{c.writer.user.first_name}}
                                                        {{c.writer.user.last_name}}</span>
                                                </div>
                                            </div>
                                            <div class="ml-4">
                                                <p class="comment-text">{{c.text}}</p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% if can_comment %}
                                        <form method="post" class="bg-light p-2">
                                            {% csrf_token %}
                                            <div class="d-flex flex-row align-items-start">
                                                <textarea type="text" name="comment"
                                                    class="form-control ml-1 shadow-none textarea"></textarea></div>
                                            <input type="hidden" name="post" value="comment" />
                                            <input type="hidden" name="doctor" value="{{ counselor.user.username }}" />
                                            <div class="mt-2 text-right">
                                                <button class="btn btn-primary btn-sm shadow-none" type="submit">Post
                                                    comment</button>
                                            </div>
                                        </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/moment-with-locales.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}