{% extends "base.html" %} {% load static %}
{% block title %}Profile{%endblock%}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'css/scheduel.css' %}">
<section class="contact-section section_padding">
    <div class="container py-5">    
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">{{ username }}</h5>
                        <div class="d-flex justify-content-center mb-2">
                            <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>

                            <!--                            <button type="button" class="btn btn-outline-primary ms-1">Message</button>-->
                        </div>
                    </div>
                </div>
<!--                <div class="card mb-4 mb-lg-0">-->
<!--                    <div class="card-body p-0">-->
<!--                        <div class="panel-body">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ first_name }} {{ last_name }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ email }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Verified</p>
                            </div>
                            {% if verified %}
                            <div class="col-sm-9">
                                <label class="form-label mb-0 text-success">VERIFIED</label>
                            </div>
                            {% else %}
                            <div class="col-sm-9">
                                <label class="form-label mb-0 text-danger">NOT VERIFIED</label>
                            </div>
                            {% endif %}
                        </div>
                        {% if verified %}
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Specialty</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ specialty }}</p>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% if verified %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <div class="container">
                                        <form action="" method="post" class="datepickers">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group date" id="id_0">
                                                    <label class="label-control form-label">Select the start of an hour-long session</label>
                                                    <div class="row form-outline mb-3">
                                                        <input type="text" value="" class="form-control col-md-7" name="datetime" placeholder="MM/DD/YYYY hh:mm:ss" required/>
                                                        <button
                                                                type="submit"
                                                                class="btn btn-primary mx-2 col-md-4"
                                                                style="padding-left: 1.5rem; padding-right: 1.5rem;"
                                                        >Save
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <ul class="list-group-scroll">
                                    {% for appointment in appointments %}
                                    <li class="list-group-item">
                                        {% if appointment.reserved %}
                                        <strong class="text-success">
                                        {% else %}
                                        <strong class="text-danger">
                                        {% endif %}
                                            {{ appointment.date }} {{ appointment.time }}
                                        </strong>
                                    </li>
                                    {% endfor %}
<!--                                    {% if request.method == 'POST' %}-->
<!--                                    <li class="list-group-item"><strong>Signature-->
<!--                                    </li>-->
<!--                                    {% endif %}-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/moment-with-locales.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}