{% extends "base.html" %} {% load static %} {% block title %}Profile{%endblock%}
{% block content %}
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link
  rel="stylesheet"
  href="{% static 'css/bootstrap-datetimepicker.min.css' %}"
/>
<link rel="stylesheet" href="{% static 'css/scheduel.css' %}" />
<section class="contact-section section_padding">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
              alt="avatar"
              class="rounded-circle img-fluid"
              style="width: 150px"
            />
            <h5 class="my-3">{{ patient.user.username }}</h5>
            <div class="d-flex justify-content-center mb-2">
              <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                  {{ patient.user.first_name }} {{ patient.user.last_name }}
                </p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ patient.user.email }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-4 mb-md-0">
              <ul class="list-group-scroll">
                {% for reserve in reservations %}
                <li class="list-group-item">
                  <form method="post" class="d-flex justify-content-center">
                    <div class="card-body">
                    <div class="card-text">
                      <label>
                        <strong>
                          {{reserve.appointment.counselor.user.first_name}}
                          {{reserve.appointment.counselor.user.last_name}}
                        </strong>
                      </label>
                      <hr />
                      {% csrf_token %}
                      <label> {{ reserve.appointment.date }} </label>
                    </div>
                    <div class="card-footer justify-content-center">
                      <input
                        type="hidden"
                        name="appointment"
                        value="{{ reserve.appointment.id }}"
                      />
                      <button type="submit" class="btn btn-danger">
                        Cancel
                      </button>
                      <a
                        href="{{ reserve.appointment.counselor.meeting_link }}"
                      >
                        <input
                          class="btn btn-primary"
                          type="button"
                          value="Attend Meet"
                        />
                      </a>
                    </div>
                  </form>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/moment-with-locales.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
